#footer {
  background: #303434;
  min-height: 775px;
  padding-top: 260px;
  padding-bottom: 108px;
  overflow: hidden;
  margin-top: -132px;
}
@media screen and (max-width: 768px) {
  #footer {
    padding-bottom: 34px;
  }
}
#footer .footer__content-top {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 70px;
}
@media screen and (max-width: 768px) {
  #footer .footer__content-top {
    padding-bottom: 60px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  #footer .footer__content-top {
    padding-bottom: 30px;
  }
}
#footer .footer__content-top > section:last-child {
  display: flex;
  justify-content: space-between;
  gap: 75px;
}
@media screen and (max-width: 768px) {
  #footer .footer__content-top > section:last-child {
    flex-wrap: wrap;
  }
}
#footer .footer__content-top > section:last-child section p {
  color: #FFF;
  opacity: 0.5;
}
#footer .footer__content-top > section:last-child section:first-child img {
  margin-bottom: 21px;
}
#footer .footer__content-top > section:last-child section:first-child span {
  font-weight: 700;
}
#footer .footer__content-top > section:last-child section:last-child img {
  margin-bottom: 17px;
}
#footer .footer__content-top > section:last-child section p {
  opacity: 0.5;
}
#footer .footer__content-bottom {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 575px) {
  #footer .footer__content-bottom {
    flex-direction: column;
  }
}
#footer .footer__content-bottom .footer__content-bottom__logo {
  margin-top: 32px;
}
@media screen and (max-width: 575px) {
  #footer .footer__content-bottom .footer__content-bottom__logo {
    gap: 30px;
  }
}
#footer .footer__content-bottom .footer__content-bottom__rigthside {
  display: flex;
  justify-content: space-between;
  gap: 115px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  #footer .footer__content-bottom .footer__content-bottom__rigthside {
    gap: 37px;
  }
}
@media screen and (max-width: 575px) {
  #footer .footer__content-bottom .footer__content-bottom__rigthside {
    margin-top: 0;
    flex-direction: column;
  }
}
#footer .footer__content-bottom .footer__content-bottom__rigthside .footer__navigation {
  display: flex;
  gap: 129px;
}
@media screen and (max-width: 768px) {
  #footer .footer__content-bottom .footer__content-bottom__rigthside .footer__navigation {
    gap: 108px;
  }
}
#footer .footer__content-bottom .footer__content-bottom__rigthside .footer__navigation section {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
#footer .footer__content-bottom .footer__content-bottom__rigthside .footer__navigation section a {
  font-size: 14px;
  color: #FFF;
  font-weight: 700;
  opacity: 0.6;
}
#footer .footer__content-bottom .footer__content-bottom__rigthside .footer__social-media {
  display: flex;
  gap: 16px;
}
#footer .footer__content-bottom .footer__content-bottom__rigthside .footer__social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}/*# sourceMappingURL=footer.css.map */