#footer {
  background: #303434;
  min-height: 775px;
  padding-top: 260px;
  padding-bottom: 108px;
  overflow: hidden;
  margin-top: -132px;
  @media screen and (max-width:768px) {
    padding-bottom: 34px;
  }

  .footer__content-top{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.15);
    padding-bottom: 70px;
    @media screen and (max-width:768px) {
      padding-bottom: 60px;
      flex-wrap: wrap;
    }
    @media screen and (max-width:768px) {
      padding-bottom: 30px;
    }
    & > section:last-child{
      display: flex;
      justify-content: space-between;
      
      gap: 75px;
      @media screen and (max-width:768px) {
        flex-wrap: wrap;
      }
      section{
        p{
          color: #FFF;
          opacity: 0.5;
        }
        &:first-child{
          img{
            margin-bottom: 21px;
          }
          span{
            font-weight: 700;
          }
        }
        &:last-child{
          img{
            margin-bottom: 17px;
          }
        }
        p{
          opacity: 0.5;
        }
      }
    }
  }
  
  .footer__content-bottom{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width:575px) {
      flex-direction: column;
    }
    .footer__content-bottom__logo{
      margin-top: 32px;
      @media screen and (max-width:575px) {
        gap: 30px;
      }
    }

    .footer__content-bottom__rigthside{
      display: flex;
      justify-content: space-between;
      gap: 115px;
      margin-top: 40px;
      @media screen and (max-width:768px) {
        gap: 37px;
      }

      @media screen and (max-width:575px) {
        margin-top: 0;
        flex-direction: column;
      }

      .footer__navigation{
        display: flex;
        gap: 129px;
        @media screen and (max-width:768px) {
          gap: 108px;
        }
        section{
          display: flex;
          flex-direction: column;
          gap: 11px;
          a{
            font-size: 14px;
            color: #FFF;
            font-weight: 700;
            opacity: 0.6;
          }
        }
      }

      .footer__social-media{
        display: flex;
        gap: 16px;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          background-color: rgba(255, 255, 255,0.1);
        }
      }
    }
  }
}
