@font-face {
  font-family: Satoshi;
  src: url(../fonts/Satoshi-Bold.ttf);
}

* {
  font-family: Satoshi;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #253042;
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: 54px; /* 103.846% */
}

h2 {
  color: #253042;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

p {
  color: #303434;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

a{
  color: #303434;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

@mixin button {
  display: flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button{
  border: none;
  cursor: pointer;
}
.button--pink {
  @include button;
  background: #ee2661;
  color: #fff;
}

.button--green {
  @include button;
  background: #71d569;
  color: #fff;
}

.container{
  max-width: calc(1440px - 130px * 2);
  margin: 0 auto;
  @media screen and (max-width:1024px) {
    padding: 0 20px;
  }
}

#header-content{
  min-height: 100vh;
}