.header-content{
    margin: 128px 0 0;
    position: relative;
    h1{
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 64px;
        color: #303434;
    }
}