.nb-container{
    max-width: 100vw;
    overflow: hidden;
}
.header-content{
    padding: 200px 0 0;
    position: relative;
    text-align: center;
    background-image: url('../gambars/bg-banner.svg');
    max-width: 1440px;
    margin: 0 auto;
    @media(min-width: 1200px){
        min-height: 810px;
    }
    @media(max-width: 768px){
        padding: 115px 20px 0;
    }
    &::after{
        content: '';
        width: 378.707px;
        height: 1124.923px;
        transform: rotate(135deg);
        flex-shrink: 0;
        border-radius: 500px;
        opacity: 0.1;
        background: #F05283;
        position: absolute;
        top: 100px;
        left: -80px;
        z-index: -1;
    }
    &::before{
        content: '';
        border-radius: 500px;
        opacity: 0.1;
        background: #6EBBED;
        width: 378.707px;
        height: 1119.18px;
        transform: rotate(135deg);
        flex-shrink: 0;
        position: absolute;
        top: -200px;
        right: 0;
        z-index: -1;
    }
    h1{
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 64px;
        color: #303434;
        max-width: 433px;
        margin: 0 auto 20px;
        @media(max-width: 768px){
            font-size: 40px;
            line-height: 40px; 
            max-width: 270px;
        }
    }
    p{
        color: #5B6575;
        max-width: 421px;
        margin: 0 auto;
        opacity: 0.8;
        font-weight: 500 !important;
    }
    button{
        width: 301px;
        margin: 32px auto 0;
        @media(max-width: 768px){
            margin: 20px auto 30px;
            width: 283px;
        }
    }
    .absolute-1{
        position: absolute;
        top: 200px;
        left: -20px;
        @media(max-width: 768px){
            position: relative;
            top: -40px;
            left: -20px;
            display: inline-block;
        }
        .anak-sepatu{
            width: 229px;
            @media(max-width: 768px){
                display: none;
            }
        }
        .unesco{
            position: absolute;
            @media (min-width: 1200px){
                top: -60px;
                left: 156px;
            }
            @media(max-width: 768px){
                width: 193px;
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
    .absolute-2{
        position: absolute;
        bottom: 35px;
        left: 111px;
        @media(max-width: 768px){
            position: relative;
            top: 0;
            left: -58px;
            text-align: left;
        }
        .anak-halo{
            width: 398px;
            @media(max-width: 768px){
                width: 227px;
            }
        }
        .earth{
            position: absolute;
            bottom: 12px;
            left: 249px;
            @media(max-width: 768px){
                bottom: 12px;
                left: 136px;
                width: 200px;
            }
        }
    }
    .absolute-3{
        position: absolute;
        top: 199px;
        right: -67px;
        @media(max-width: 768px){
            position: relative;
            top: 0;
            left: 0;
            width: 120px;
            display: inline-block;
        }
        .anak-rame{
            width: 461px;
            @media(max-width: 768px){
                width: 219px;
            }
        }
        .communities{
            position: absolute;
            bottom: -68px;
            left: 160px;
            @media(max-width: 768px){
                width: 118.747px;
                left: -7px;
                bottom: -40px;
            }
        }
    }
}

.earth-difference{
    padding: 80px 0 0;
    text-align: center;
    background-image: url('../gambars/earth-difference.svg');
    @media(max-width: 768px){
        padding: 100px 20px 0;
    }
    h1{
        color: #303434;
        text-align: center;
        font-size: 52px;
        font-style: normal;
        font-weight: 900;
        line-height: 54px;
        margin: 0 auto;
        @media(max-width: 768px){
            max-width: 284px;
            font-size: 36px;
            line-height: 40px; 
        }
    }
    p{
        color: #5B6575;
        margin: 20px auto;
        max-width: 418px;
        opacity: 0.8;
        font-weight: 500 !important;
        @media(max-width: 768px){
            font-weight: 400;
        }
    }
    button{
        width: 273px;
        margin: 0 auto;
    }
    .section-video{
        max-width: 1440px;
        margin: 60px auto 0;
        position: relative;
        .barong{
            position: absolute;
            top: -200px;
            left: 87px;
            z-index: 2;
            @media(max-width: 768px){
                width: 99px;
                top: -50px;
                left: -15px;
            }
        }
        .star{
            position: absolute;
            right: 72px;
            top: 76px;
            @media(max-width: 768px){
                width: 123px;
                top: 102px;
                right: -63px;
            }
        }
        .topi{
            position: absolute;
            right: 70px;
            top: 223px;
            z-index: 2;
            @media(max-width: 768px){
                width: 107px;
                top: 175px;
                right: -35px;
            }
        }
        .video-box{
            position: relative;
            width: 940px;
            height: 578px;
            border-radius: 30px;
            overflow: hidden;
            margin: 0 auto;
            @media(max-width: 768px){
                width: 354px;
                height: 218px;
            }
            video{
                object-fit: cover;
                height: 100%;
            }
            .video-controls{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                button{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    .logo-play{
                        background-image: url('../gambars/bg-video.png');
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        background-size: cover;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .logo-inner-play{
                        background: rgba(255, 255, 255, 0.2);
                        width: 159px;
                        height: 159px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        @media(max-width: 768px){
                            width: 133px;
                            height: 133px;
                        }
                        img{
                            position: relative;
                            @media(max-width: 768px){
                                width: 77px;
                            }
                        }
                    }
                    &.pause{
                        .logo-play{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.feature-benefits{
    margin-top: 120px;
    @media(max-width: 768px){
        margin-top: 100px;
    }
    h1{
        color: #303434;
        text-align: center;
        font-size: 52px;
        font-style: normal;
        font-weight: 900;
        line-height: 54px;
        margin: 0 0;
        @media(max-width: 768px){
            font-size: 36px;
            font-weight: 900;
            line-height: 40px;
        }
    }
    .feature-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 80px 0 0;
        @media(max-width: 768px){
            margin-top: 42px;
            flex-direction: column;
            &.mobile-m{
                margin-top: 77px;
            }
        }
        .text{
            width: 520px;
            @media(max-width: 768px){
                order: 42px;
                width: 100%;
                h2{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 40px;
                }
            }
            p{
                color: #303434;
                opacity: 0.8;
                margin-top: 12px;
                font-weight: 500 !important;
                margin: 0 !important;
            }
        }
        .image{
            position: relative;
            @media(max-width: 768px){
                order: 2;
                margin-top: 30px;
            }
            img{
                width: 580px;
                @media(max-width: 768px){
                    width: 100%;
                }
            }
            .flower{
                width: 207px;
                position: absolute;
                left: -4px;
                bottom: -62px;
                @media(max-width: 768px){
                    width: 143px;
                    left: -3px;
                }
            }
        }
    }
}

.list{
    margin-top: 120px;
    &-background{
        background: rgba(41, 119, 235, 0.1);
        border-radius: 30px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 85px;
        text-align: center;
        padding: 80px 100px;
        @media(max-width: 768px){
            padding: 18px 15px;
            text-align: left;
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
            .item{
                display: flex;
                align-items: center;
                gap: 15px
            }
            .icon{
                img{
                    width: 60px;
                }
            }
        }
        p{
            margin-top: 22px;
            font-weight: 500 !important;
            margin-bottom: 0;
            @media(max-width: 768px){
                margin: 0;
                font-size: 16px;
                line-height: normal;
            }
        }
        .mosque{
            position: absolute;
            top: -155px;
            right: 50px;
            @media(max-width: 768px){
                width: 214px;
                top: -90px;
                right: 20px;
            }
        }
        .music{
            position: absolute;
            bottom: 70px;
            left: -132px;
            @media(max-width: 768px){
                display: none;
            }
        }
    }
}

.treasure{
    @media(max-width: 768px){
        margin-top: 60px;
        .feature-flex {
            margin-top: 0 !important;
        }
    }
}

.teacher-app{
    position: relative;
    max-width: 1440px;
    margin: 125px auto 0;
    z-index: 1;
    @media(max-width: 768px){
        margin: 50px auto 0;
    }
    .bg-teach{
        background-color: #F1F9FE;
        max-width: 927px;
        width: 100%;
        height: 282px;
        padding: 60px;
        border-radius: 30px;
        @media(max-width: 768px){
            padding: 20px 20px 116px;
        }
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            @media(max-width: 768px){
                font-size: 32px;
                font-weight: 700;
            }
        }
        p{
            color: #5B6575;
            margin-top: 14px;
            max-width: 359px;
        }
    }
    .image{
        position: absolute;
        top: 64px;
        right: 130px;
        @media(max-width: 768px){
            bottom: -221px + 90px;
            left: 40px;
            width: 100%;
            top: unset;
            right: unset;
        }
        .ibu{
            position: absolute;
            top: -100px;
            right: -100px;
            width: 250px;
            @media(max-width: 768px){
                right: unset;
                top: unset;
                bottom: -50px;
                left: -50px;
                width: 150px;
            }
        }
        .segitiga{
            position: absolute;
            bottom: 30px;
            right: -90px;
            width: 150px;
            z-index: -1;
            @media(max-width: 768px){
                right: 50px;
                bottom: -61px;
                width: 100px;
            }
        }
        img{
            width: 580px;
            @media(max-width: 768px){
                width: 402px;
            }
        }
    }
}

.less-app{
    //background-color: #19406C;
    text-align: center;
    height: 985px;
    margin-top: -109px;
    @media(max-width: 768px){
        height: 1200px;
    }
    h1{
        //color: #fff;
        max-width: 600px;
        margin: 0 auto;
        @media(max-width: 768px){
            font-size: 36px;
            line-height: 40px;
        }
    }
    p{
        color: #5B6575;
        max-width: 693px;
        margin: 22px auto 28px;
        font-weight: 500 !important;
    }
    button{
        width: 301px;
        margin: 0 auto;
    }
    .less-bg{
        max-width: 1440px;
        padding-top: 364px;
        height: 100%;
        margin: 0 auto;
        background-image: url('../gambars/bg-less.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        @media(max-width: 768px){
            padding: 364px 20px 0;
        }
        .ornament{
            position: absolute;
            top: 191px;
            left: 46px;
            width: 309px;
            z-index: -1;
            @media(max-width: 768px){
                width: 193px;
                left: -30px;
                bottom: 170px;
                top: unset;
            }
        }
    }
}

.kids-app{
    position: relative;
    margin-top: -134px;
    .kids-bg{
        background-color: #2776EA;
        padding: 50px;
        text-align: center;
        border-radius: 30px;
        background-image: url('../gambars/kids-bg.svg');
        position: relative;
        .mosque-2{
            position: absolute;
            top: -200px;
            right: 30px;
            @media(max-width: 768px){
                width: 199px;
                top: -91px;
                right: 20px;
            }
        }
        @media(min-width: 1200px){
            height: 396px;
        }
        @media(max-width: 768px){
            padding: 55px 20px;
        }
        h1{
            color: #fff;
            margin: 0 auto;
            font-size: 52px;
            line-height: 54px;
            @media(max-width: 768px){
                font-size: 32px;
                line-height: 40px;
            }
        }
        p{
            color: #CDE8F9;
            max-width: 582px;
            margin: 20px auto 28px;
            font-weight: 500 !important;
        }
        button{
            width: 319px;
            margin: 0 auto;
            @media(max-width: 768px){
                width: 219px;
            }
        }
    }
}

.testimonial{
    margin-top: 80px;
    background: linear-gradient(180deg, rgba(230, 243, 252, 0.00) 0%, #E6F3FC 19.73%);
    @media(max-width: 768px){
        margin-top: 30px;
    }
    h1{
        text-align: center;
        @media(max-width: 768px){
            font-size: 36px;
            line-height: 40px;
        }
    }
    .slider{
        margin: 48px auto 0;
        position: relative;
        z-index: 2;
        width: 895px;
        .next_caro{
            position: absolute;
            right: -80px;
            top: 160px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background-color: #8996AB;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                background-color: #253042;
            }
            @media(max-width: 768px){
                display: none !important;
            }
        }
        .previous_caro{
            position: absolute;
            left: -80px;
            top: 160px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background-color: #8996AB;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                background-color: #253042;
            }
            @media(max-width: 768px){
                display: none !important;
            }
        }
        @media(max-width: 768px){
            margin: 30px auto 0;
            width: 345px;
        }
        .slick-track, .slick-list{
            overflow: unset;
        }
        .slick-slide{
            padding: 0 10px !important;
        }
        .item{
            min-width: 875px;
            height: 392px;
            padding: 30px;
            position: relative;
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between !important;
            position: relative;
            background-color: #ffffff;
            border-radius: 30px;
            overflow: hidden;
            @media(max-width: 768px){
                padding: 20px 20px 27px;
                min-width: 325px;
                height: 511px;
            }
            .testi-bg{
                position: absolute;
                bottom: 0;
                right: 0;
                @media(max-width: 768px){
                    right: -50px;
                }
            }
            p{
                font-weight: 500 !important;
                font-size: 20px;
                line-height: normal;
                max-width: 788px;
                @media(max-width: 768px){
                    font-size: 16px;
                }
            }
            .title{
                h3{
                    font-size: 20px;
                    font-weight: 700;
                    margin: 0;
                }
                p{
                    font-size: 12px;
                    color: #5B6575;
                    font-weight: 400;
                    line-height: 29px;
                    margin: 0;
                }
            }
        }
    }
}